<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nihal R</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem fugiat assumenda error facere commodi ipsum, at explicabo obcaecati corporis tenetur, accusantium asperiores minus vero quod quas dolore iste impedit voluptates?</p>

    <hr>

    <p>{{id}}</p>
    <p>{{Name}}</p>
    <p>{{age}}</p>
</body>
</html>